# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Test artifacts
/fixtures/uploads/*
!/fixtures/uploads/.gitkeep

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db